<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="rover_robot_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>
            <joint name="Scara1_link_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Scara1_link_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Scara2_link_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Scara2_link_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Scara3_link_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Scara3_link_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Scara4_link_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Scara4_link_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Claw1_link_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Claw1_link_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Claw2_link_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Claw2_link_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
